NET "gpio_in" IOSTANDARD = LVCMOS33;
NET "gpio_in" LOC = P8;

NET "gpio_out" IOSTANDARD = LVCMOS33;
NET "gpio_out" LOC = P6;

NET "led_0" IOSTANDARD = LVCMOS33;
NET "led_0" LOC = P38;

NET "led_1" IOSTANDARD = LVCMOS33;
NET "led_1" LOC = P37;
