NET "gpio_en"	IOSTANDARD = LVCMOS33 | LOC = P8;
NET "gpio_out"	IOSTANDARD = LVCMOS33 | LOC = P6;
NET "gpio_din"	IOSTANDARD = LVCMOS33 | LOC = P5;
NET "led_0"		IOSTANDARD = LVCMOS33 | LOC = P38;
NET "led_1"		IOSTANDARD = LVCMOS33 | LOC = P37;
NET "clk"		IOSTANDARD = LVCMOS33 | LOC = P1;
