########################################################################################################################
# Clock
NET "clk_20mhz" LOC = P55;
NET "clk_20mhz" IOSTANDARD = LVCMOS33;

NET "clk_20mhz" TNM_NET = "clk_20mhz";
TIMESPEC TS_clk_20mhz = PERIOD "clk_20mhz" 20 MHz HIGH 50 %;

########################################################################################################################
# UART

NET "uart_rx" LOC = P39;
NET "uart_tx" LOC = P40;

NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "uart_tx" IOSTANDARD = LVCMOS33;
