[submodule "src/jtaghal"]
	path = src/jtaghal
	url = git@github.com:azonenberg/jtaghal.git
[submodule "src/log"]
	path = src/log
	url = git@github.com:azonenberg/logtools.git
[submodule "src/xptools"]
	path = src/xptools
	url = git@github.com:azonenberg/xptools.git
