[submodule "src/jtaghal"]
	path = src/jtaghal
	url = git@github.com:azonenberg/jtaghal.git
[submodule "src/log"]
	path = src/log
	url = https://github.com/azonenberg/logtools.git
[submodule "src/xptools"]
	path = src/xptools
	url = https://github.com/azonenberg/xptools.git
[submodule "antikernel-ipcores"]
	path = antikernel-ipcores
	url = git@github.com:azonenberg/antikernel-ipcores
[submodule "bsp"]
	path = bsp
	url = https://github.com/azonenberg/antikernel-bsps
[submodule "src/jtaghal-apps"]
	path = src/jtaghal-apps
	url = git@github.com:azonenberg/jtaghal-apps.git
