NET "uart_reset_n" LOC = P44;
NET "clk_20mhz" LOC = P1;

NET "cpld_cs_n" LOC = P7;
NET "cpld_miso" LOC = P5;
NET "cpld_mosi" LOC = P6;

NET "prog_b_n" LOC = P12;

NET "ethclken" LOC = P22;

NET "reset_in_n" LOC = P33;

NET "gpio[0]" LOC = P32;
NET "gpio[1]" LOC = P31;
NET "gpio[2]" LOC = P30;
NET "gpio[3]" LOC = P29;
NET "gpio[4]" LOC = P28;
NET "gpio[5]" LOC = P27;
NET "gpio[6]" LOC = P23;
NET "gpio[7]" LOC = P21;
NET "gpio[8]" LOC = P20;
NET "gpio[9]" LOC = P19;

#NET "gpio[0]" IOSTANDARD = LVCMOS33;

NET "fault_led" LOC = P2;